<h3>Signups</h3>



<table class="u-full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Remove</th>
    </tr>
  </thead>

  <tbody id="signups-list">

  </tbody>


</table>
