<h3>
Sign Up
</h3>

<form class="create-signup" action="/api/signups" method="post">
  <label for="signup[name]">Enter your name</label>
  <input type="text" name="signup[name]"><br>
  <label for="signup[email]">Enter your email</label>
  <input type="email" name="signup[email]"><br>
  <label for="signup[phone_number]">Enter your phone number</label>
  <input type="tel" name="signup[phone_number]"><br>
  <input type="submit" id="new-signup" value="Sign Up">
</form>
